

 /* -- */

 #header {
    text-align: center;
}

 #process p {
    text-align: center; margin-bottom: 30px; margin-top: 10px;
 }

 #process {
    margin-top: 40px;
}

#process img {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

 #our-secret-sauce-div:hover {
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc; 
 }

 #our-secret-sauce #our-secret-sauce-p {
     text-align: left;
 }

 #secret-sauce {
    margin-top: 40px;
}

#our-secret-sauce {
    padding: 32px;
}

#our-secret-sauce img {
    width: 120px;
} 

#middle-image {
    margin: auto;
}

.img-class {
    display: block;
    margin-left: 25px;
    margin-right: auto;
}

#secret-sauce p:nth-of-type(1) {
    text-align: center;
}

#secret-sauce h4 {
    text-align: center;
}

#our-secret-sauce {
    margin-top: 30px;
}

#founders-message{
    background: linear-gradient(#ecc2e2, #e9abe4); 
    margin-top: 30px; 
    display: flex;
}

#founders-message img {
    width: 250px; 
    margin-top: 60px; margin-bottom: 60px; 
    margin-left: 40px;
}

#founders-message h1 {
    margin-left: 34px; 
    margin-top: 40px;
}

#founders-message p:nth-of-type(1) {
    margin-top: 20px;
}

#founders-message p:nth-of-type(2) {
    margin-top: 10px;
}

#founders-message p:nth-of-type(3) {
    margin-top: -18px;
}

#founders-message p:nth-of-type(4) {
    position: relative; 
    margin-top: -10px;
}

#founders-message p:nth-of-type(5) {
    margin-top: -17px;
}



/* Media Queries */

/* Extra small devices (phones, 667px and down) */
@media only screen and (max-width: 667px) {
    #founders-message{
        background: linear-gradient(#ecc2e2, #e9abe4); 
        margin-top: 30px; 
        display: inline-block;
    }
    
    #founders-message img {
        width: 250px; 
        margin-top: 60px; margin-bottom: 30px; 
        margin-left: 40px;
    }
    
    #founders-message h1 {
        margin-left: 34px; 
        margin-top: 0px;
        font-size: 20px;
    }
    
    #founders-message p:nth-of-type(1) {
        margin-top: 20px;
    }
    
    #founders-message p:nth-of-type(2) {
        margin-top: 10px;
    }
    
    #founders-message p:nth-of-type(3) {
        margin-top: -18px;
    }
    
    #founders-message p:nth-of-type(4) {
        position: relative; 
        margin-top: -10px;
    }
    
    #founders-message p:nth-of-type(5) {
        margin-top: -17px;
    }

    /* secret sauce */

    #our-secret-sauce-div:hover {
        -moz-box-shadow: 0 0 3px #ccc;
        -webkit-box-shadow: 0 0 3px #ccc;
        box-shadow: 0 0 3px #ccc; 
     }
    
     #our-secret-sauce #our-secret-sauce-p {
         text-align: left;
     }
    
     #secret-sauce {
        margin-top: 40px;
    }
    
    #our-secret-sauce {
        display: block;
        margin-top: 30px;
    }
    
    #our-secret-sauce img {
        width: 120px;
    } 
    
    .img-class {
        display: block;
        margin-left: 25px;
        margin-right: auto;
    }
    
    #secret-sauce p:nth-of-type(1) {
        text-align: center;
    }
    
    #secret-sauce h4 {
        text-align: center;
    }

    /* services */

    #service {
        display: block;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
.bg-header{
    position: relative;
}
.bg-header::after{
    background: linear-gradient(166deg, #b57ad2, transparent);
    content: "";
    position: absolute;
    height: 100vh;
    width: 100%;
    right: 0;
    z-index: -9;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 167%;
    border-bottom-right-radius: 18%;
}
.w-1{
  width: 10%;
}
.w-90{
    width: 90%;
}
.btn-primary{
    background: #b57ad2 !important;
    border-color: #b57ad2 !important;
    border-radius: 50px !important;
    font-weight: bold;
}
.text-primary{
    color: #b57ad2 !important;
}
.icons-img{
    list-style-type: none;
}
.icons-img li{
    width: 20%;
}
.w-2{
    width: 20%;
}
.nav-link{
  font-weight: bold;
}
.mt-6{
    margin-top: 9rem;
}
.btn-outline-primary{
    border: 1px solid #b57ad2 !important;
    border-color: #b57ad2 !important;
    border-radius: 50px !important;
    font-weight: bold;
}
.btn-outline-primary a{
  color:#b57ad2 !important; ;
}
.btn-outline-primary:hover{
    background: #b57ad2 !important;
    color:cornsilk;
    border: 1px solid #b57ad2 !important;
    border-color: #b57ad2 !important;
    border-radius: 50px !important;
}
.btn-outline-primary:hover a{
    color:cornsilk !important;
}
.mt-12{
    margin-top:12rem
}

.parent {
    position: relative;
  }
  
  .circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: url(./images/group.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    border: 2px solid #f7c524;
    background-color: #f7c524;
  }
  .image-holder {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*animation: rotate linear 5s infinite forwards;*/
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
  .image-holder img,  .image-holder div {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .image-holder div:nth-child(1) {
    top: 77px;
    left: -257px;
  }
  
  .image-holder div:nth-child(3) {
    top: -132px;
    right: -211px;
  }
  .image-holder div:nth-child(5) {
    top: 260px;
    left: 15%;
  }
  .image-holder div:nth-child(2) {
    top: -140px;
    left: -95%;
    transform: translateX(-178%);
  }
  .image-holder div:nth-child(4) {
    top: 60%;
    right: -210px;
    transform: translateY(-40%);

  }
  .team-image{
    background: linear-gradient(179deg, #ddc2eb1f, #d7b7e7, #dbbee929);
    padding-bottom: 14rem;
    padding-top: 111px;
    border-radius: 50%;
  }
  .left-text{
    position: absolute;
    width: 20rem;
    background: #fff;
    border-radius: 50px;
    right: 53px;
    padding: 2px;
  }
  .amanda{
    position: absolute;
    bottom: -36px;
    left: 68px;
    /* color: antiquewhite; */
    font-weight: 900;
  }
  .right-text{
    position: absolute;
    width: 20rem;
    background: #fff;
    border-radius: 50px;
    left: 10rem;
    padding: 2px;
  }
.d-flex{
  flex-wrap: wrap;
}