* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bg-header{
    position: relative;
}
.bg-header::after{
    background: linear-gradient(
166deg
, #b57ad2, transparent);
    content: "";
    position: absolute;
    height: 100vh;
    width: 100%;
    right: 0;
    z-index: -9;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 39%;
    border-bottom-right-radius: 92px;
}
.w-90{
    width: 90%;
}
.btn-primary{
    background: #b57ad2 !important;
    border-color: #b57ad2 !important;
}